* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Kumbh Sans', sans-serif;
  --active-dark-blue: hsl(238, 29%, 16%);
  --active-soft-red: hsl(14, 88%, 65%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --dark-question-text: hsl(237, 12%, 33%);
  --answer-text: hsl(240, 6%, 50%);
}

html,
body {
  background: linear-gradient(
    0deg,
    var(--gradient-blue) 0,
    var(--gradient-violet) 100%
  );
  min-height: 115%;
  height: 100%;
  position: relative;
}

.main-content {
  position: relative;
  top: 180px;
  width: 88%;
  min-height: 70vh;
  max-height: 85vh;
  margin: 0 auto;
  padding: 0 6% 15px 6%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 40px 50px -10px;
}

.image {
  height: 200px;
  width: 250px;
  background-image: url(../images/illustration-woman-online-mobile.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -60%);
  filter: drop-shadow(0px 30px hsla(273, 85%, 43%, 0.091));
}

.faq-section {
  max-height: 90%;
  overflow: scroll;
}

.main-title {
  margin: 120px 0 30px 0;
  text-align: center;
}

.question-container {
  border-bottom: 1px solid hsla(273, 85%, 43%, 0.091);
  padding-bottom: 20px;
  margin-bottom: 20px;
  min-width: 100%;
}

.question-header {
  display: flex;
  justify-content: space-between;
}

.arrow {
  color: var(--active-soft-red);
}

.question {
  font-size: 0.9rem;
  font-weight: 200;
  margin-bottom: 15px;
  margin-right: 20px;
  color: var(--answer-text);
}

.answer {
  font-size: 0.9rem;
  max-width: 90%;
  color: var(--answer-text);
}

/* ---- ACTIVE STATES ---- */

.arrow-up {
  transform: rotate(180deg);
  position: relative;
  top: -15px;
}

.q-active {
  font-weight: 600;
  color: var(--active-dark-blue);
}

.hidden {
  display: none;
}

/* ---- FOOTER ---- */

.attribution {
  position: absolute;
  z-index: 2;
  bottom: 0;
  min-width: 100%;
  padding: 35px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--active-dark-blue);
  font-size: 0.825rem;
  background-color: var(--gradient-blue);
}

.attribution p {
  margin-bottom: 8px;
}

.attribution a {
  text-decoration: none;
  color: #fff;
}

.attribution a:hover {
  color: var(--active-soft-red);
  text-decoration: underline;
}

/* ---- MEDIAQUERIES ---- */

@media all and (min-width: 768px) {
  html,
  body {
    min-height: 110%;
  }
  .main-content {
    min-height: 50vh;
  }
  .question-header {
    min-width: 400px;
    max-width: 400px;
  }
  .answer {
    max-width: 400px;
  }
}

@media all and (min-width: 1200px) {
  body {
    max-width: 1200px;
    min-height: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
  .main-content {
    position: relative;
    top: 10%;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    min-height: 680px;
    max-height: 680px;
  }
  .main-title {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: left;
  }

  .image-container {
    position: relative;
    width: 330px;
    height: 370px;
    left: -75px;
    overflow: hidden;
  }

  .image {
    background-image: url(../images/illustration-woman-online-desktop.svg);
    transform: translateX(-230px);
    width: 330px;
    height: 300px;
    filter: drop-shadow(0px 70px hsla(273, 85%, 43%, 0.091));
  }

  .box {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 1;
    transform: translateX(-110%);
    background-image: url(../images/illustration-box-desktop.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 15px 10px hsla(273, 79%, 13%, 0.485));
  }

  .question-header {
      min-width: 420px;
      max-width: 420px;
  }

  .faq-section {
    position: relative;
    min-width: 60%;
    max-width: 60%;
    max-height: 550px;
    overflow: scroll;
  }

  .attribution {
    padding: 4%;
  }
}
